<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" href="images/robot.png">
  <meta charset="UTF-8" />
  <title> Jackson Crandell </title>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <p style="text-align:center">
                <name>Jackson Crandell</name>
              </p>
              <p> 
                I am a first-year Robotics Master’s student at the <a href="https://www.gatech.edu/" style="text-decoration:none;font-weight:bold">Georgia 
                Institute of Technology</a>. My research interests lie at the intersection of physics-based simulation, machine learning, and robotics.  
              </p>
              <p>
                I did my undergraduate degree in Electrical Engineering from Georgia Tech where I specialized in Control Theory. During my undergraduate, 
                I participated in multiple internships at JR Automation, <a href="https://www.sandia.gov/"> Sandia National Laboratories</a>, and 
                <a href="https://www.linkedin.com/company/amazon-fulfillment-technologies-robotics/"> Amazon Robotics</a>. 
              </p>
              <p style="text-align:center">
                <a target="_blank" href="jackcrandell@gatech.edu"> Email</a> &nbsp;/&nbsp;
                <a href="media/JacksonCrandellResume2022.pdf">Resume</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/jackson-crandell-09916916a/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://github.com/Jackson-Crandell">GitHub</a> &nbsp;/&nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="media/JacksonCrandellHeadshot.jpeg">
              <a href="https://www.gatech.edu/"> <img style="width:100%;max-width:100%" alt="Georgia Institute of Technology" src="media/gtlogo.png"> </a>            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
							<ul>
                <li><strong>[January 2022]</strong> Joined the <a href="https://faculty.cc.gatech.edu/~sha9/">Resilient Locomotion Lab</a> as 
                  a Graduate Research Assistant. </li>
								<li><strong>[August 2022]</strong> Began pursuing Master's degree in Robotics at Georgia Tech.</li>
								<li><strong>[May 2022]</strong> Received my Bachelor's degree in Electrical Engineering from Georgia Tech.</li>
							</ul>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:x-small;">
                Design and source code for this site can be <a style="font-size:x-small;" href="https://github.com/jonbarron/website">found</a>  <a style="font-size:x-small;" href="https://github.com/leonidk/new_website">here</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>